#heading{
    font-family:Megrim;
    text-align:center;
    font-size:45px;
    color:white;
    background-color:black;
	padding-bottom:10px;
}
#logo{
    color:rgb(212, 23, 48);
	font-style:italic;
}
p{
    font-family:open sans; 
    font-size:25px;
    text-align:center;
}
.head:hover{
	text-shadow: 0px 0px 1px black;
}
.main{
	border-left:solid 10px rgb(48, 48, 48);
}
#nav{
	list-style-type:none;
	background-color:black;
	position: absolute;
	width:96%;
	height:30px;
	margin-top:-25px;
	border-top:solid 10px black;
	
}
.nav{
	float:left;
	text-align:center;
	color:white;
    background-color:black;
	font-family:MedievalSharp;
	margin-left:11%;
}
a:hover{
	text-shadow: 0px -2px 0px #000000, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
}
a{
	text-decoration:none;
	color:white;
}