#heading{
    font-family:Megrim;
    text-align:center;
    font-size:45px;
    color:white;
    background-color:black;
}
#logo{
    color:rgb(212, 23, 48);
}
p{
    font-family:open sans; 
    font-size:25px;
    text-align:center;
}
#p-head:hover{
	text-shadow: 0px 0px 1px black;
}
#hiw-head:hover{
	text-shadow: 0px 0px 1px black;
}
#p-main{
	border-left:solid 10px rgb(48, 48, 48);
}
#hiw-main{
	border-left:solid 10px rgb(48, 48, 48);
}