#heading{
    font-family:Megrim;
    text-align:center;
    font-size:45px;
    color:white;
    background-color:black;
	padding-bottom:10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#logo{
    color:rgb(212, 23, 48);
	font-style:italic;
}
p{
    font-family:open sans; 
    font-size:25px;
    text-align:center;
}
.head:hover{
	text-shadow: 0px 0px 1px black;
}
.head{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.main{
	border-left:solid 10px rgb(48, 48, 48);
}
#nav{
	background-color:black;
	position: absolute;
	width:96%;
	height:30px;
	margin-top:-25px;
	border-top:solid 10px black;
	
}
.nav{
	float:left;
	text-align:center;
	color:white;
    background-color:black;
	font-family:MedievalSharp;
	margin-left:11%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a:hover{
	text-shadow: 0px -2px 0px #000000, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
}
a{
	text-decoration:none;
	color:white;
}
ul{
	list-style-type:none;
}
.sub{
	font-size: 5px;
	font-weight: bold;
	margin-top: -15px;
}
#discord{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto
}
